.second-page {
    height: 300px;
    margin-top: -8px;
}

.pre-text {
    position: relative;
    top: -50px;
    color: white;
    font-size: 28px;
    font-family: 'Noto Sans JP', sans-serif;
}

.pre-text-span {
    font-size: 46px;
}

.tv-img {
    height: 340px;
    margin-top: -260px;
    margin-left: 750px;
    padding: 0;
}
  
.video {
    height: 185px;
    margin-top: -280px;
    margin-left: 810px;
    position:relative;
}

.tv-div {
    margin-top: -110px;
}


/* HR tags styling */
.sec-page-first-hr, .sec-page-sec-hr {
    border: 4px solid #222222;
}
  
.sec-page-sec-hr {
    margin-top: 60px;
}