.fourth-page {
    height: 400px;
    margin-top: -10px;
    color: white;
}

.pre-div {
    margin-top: 210px;
    margin-left: 100px;
}

.pre-header {
    font-size: 41px;
}

.pre-text {
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 20px;
}

.collage-img {
    height: 380px;
    margin-left: 760px;
    margin-top: -315px;
}

.fourth-page-hr {
    border: 4px solid #222222;
    margin-top: 50px;
}