.third-page {
    height: 300px;
    margin-top: -10px;
    color: white;
}

.third-page-pre {
    font-family: 'Noto Sans JP', sans-serif;
    padding-top: -266px;
}

.pre-header {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 37px;
    padding-bottom: 5px;
    margin: 0;
}

.full-pre {
    font-size: 26px;
    margin-top: 300px;
    margin-left: 550px;
}

.mobile-img {
    height: 325px;
    margin-top: -295px;
    margin-left: 200px;
    padding-top: 25px;
    margin-bottom: -40px;
}

.third-page-hr {
    border: 4px solid #222222;
    margin-top: 80px;
}