.footer {
    display: flex;
    text-align: center;
    padding-bottom: 50px;
}
  
.questions {
    margin-top: -20px;
    margin-left: 150px;
    font-family: 'PT Sans', sans-serif;
}
  
.firstFour, .secondFour, .thirdFour, .fourthFour {
    padding: 30px;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
}
  
.language{
    padding: 15px;
    font-size: 15px;
    margin-top: 200px;
    margin-left: -1200px;
    color: grey;
    background: black;
}