/* @import 'node_modules/react-selectize/themes/index.css'; */
@import './modules/first-page/first-page.css';
@import './modules/second-page/second-page.css';
@import './modules/third-page/third-page.css';
@import './modules/fourth-page/fourthPage.css';
@import './modules/footer/footer.css';
@import './modules/footer/copyright.css';


.App {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #000000;
}

html {
  background-color: #000000;
  scroll-behavior: smooth;
}